<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>

    {% load staticfiles %}

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">


    <link href="{% static 'css/grayscale.min.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
   {% include "navigation.html" %}

    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="text-white-50 mx-auto mt-2 mb-5">Together we can make a change</h1>
          
          <a href="{% url 'lost' %}" class="btn btn-primary js-scroll-trigger">Report Lost</a>
          <a href="{% url 'found' %}" class="btn btn-primary js-scroll-trigger">Report Found</a>

        </div>
      </div>
    </header>

    
    
    <section id="projects" class="projects-section bg-light">
      <div class="container">

        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="/static/img/d2.jpg" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>Disaster</h4>
              <p class="text-black-50 mb-0">Natural disasters are terrifying - that loss of control, this feeling that something is just going to randomly end your life for absolutely no reason is terrifying.While natural disasters capture headlines and national attention short-term, the work of recovery and rebuilding is long-term. Milan is a platform whose purpose is to contribute to this recovery. </p>
            </div>
          </div>
        </div>

       
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="/static/img/d7.jpeg" alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Lost Form</h4>
                  <p class="mb-0 text-white-50">Click on Report Lost tab and fill in all the details of the form. You will receive a mail once your form is validated. We will inform you as soon as your loved one is found.</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

      
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="/static/img/d1.jpeg" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Found Form</h4>
                  <p class="mb-0 text-white-50">Click on the Report Found tab and fill in the details of the found person.You will receive a mail once your form is validated. We will inform you as soon as we get the details about his/her family</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    
    <section class="contact-section bg-black" align="center">
      <div class="container">
      </div>
    </section>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/grayscale.min.js' %}"></script>

  </body>

</html>
