<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<p> Please help us by reporting lost and found people</p>
		<p><button class="center" style="color: #ffff;background-color: #3B5999; "  onclick='location.href="/found"' >found</button>
		<button class="center" style="color: #ffff;background-color: #3B5999; "  onclick='location.href="/lost"'>lost</button></p>
	</body>
</html>
